In [51]:
import pandas as Pd
db = Pd.read_csv("Libro1.csv", sep=";")
print(db)

    nombre   apellido  usabilidad
0  rodrigo  rodriguez           4
1    maria      perez           7
2     juan        paz           9

In [34]:
db.head(2) #da las filas seleccionadas

    nombre   apellido  usabilidad
0  rodrigo  rodriguez           4
1    maria      perez           7

In [35]:
db.info() #da los tipos de datos y columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      3 non-null      object
 1    apellido   3 non-null      object
 2   usabilidad  3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [36]:
db.describe() #etadisticas

       usabilidad
count    3.000000
mean     6.666667
std      2.516611
min      4.000000
25%      5.500000
50%      7.000000
75%      8.000000
max      9.000000

In [37]:
db.columns #da los enunciados de las columnas

Index(['nombre', ' apellido', 'usabilidad'], dtype='object')

In [61]:
Tab = db[["nombre","usabilidad"]].to_numpy()
print(Tab)

[['rodrigo' 4]
 ['maria' 7]
 ['juan' 9]]

In [62]:
Tab.shape #numero de filas y columnas

(3, 2)