# TAREA

conseguir una base de datos con columnas numericas y al menos una str -hacer un programa que reciba el nombre de un archivo csv en el mismo directorio y que el programa:

1. retorne el nombre de las columnas y su tipo de datos
2. Reciba el nombre de una columna str y una numerica
3. Diga los valores únicos de esa columna
4. que el usuario pueda ingresar uno de esos valors para filtrar los datos por ese valor
5. Debe guardar en A los datos numericos sin los valores de esa columna numerica
6. Debe guardar en Y los datos de esa columna numerica
7. solucionar sistema AX=Y
8. Exportar la solución en csv o excel
se resuelve en el documento homeworkbases

In [21]:
import pandas as pd
import numpy as np

#C:\Users\USUARIO WINDOWS\programacion\Programacion_fisica\Programacion_fisica\tareas\exo_2.csv
df = pd.read_csv(r"C:\Users\USUARIO WINDOWS\programacion\Programacion_fisica\Programacion_fisica\tareas\exo_2.csv", sep=",")

print(df)

       No. Planet Name Planet Host  Num Stars  Num Planets Discovery Method  \
0        1    11 Com b      11 Com          2            1  Radial Velocity
1        2    11 UMi b      11 UMi          1            1  Radial Velocity
2        3    14 And b      14 And          1            1  Radial Velocity
3        4    14 Her b      14 Her          1            2  Radial Velocity
4        5  16 Cyg B b    16 Cyg B          3            1  Radial Velocity
...    ...         ...         ...        ...          ...              ...
4570  4571   tau Gem b     tau Gem          1            1  Radial Velocity
4571  4572   ups And b     ups And          2            3  Radial Velocity
4572  4573   ups And c     ups And          2            3  Radial Velocity
4573  4574   ups And d     ups And          2            3  Radial Velocity
4574  4575    xi Aql b      xi Aql          1            1  Radial Velocity

      Discovery Year                      Discovery Facility  \
0               2007                        Xinglong Station
1               2009  Thueringer Landessternwarte Tautenburg
2               2008       Okayama Astrophysical Observatory
3               2002                  W. M. Keck Observatory
4               1996                  Multiple Observatories
...              ...                                     ...
4570            2013                        Lick Observatory
4571            1996                        Lick Observatory
4572            1999                  Multiple Observatories
4573            1999                  Multiple Observatories
4574            2007       Okayama Astrophysical Observatory

      Orbital Period Days  Orbit Semi-Major Axis  ...  \
0              326.030000               1.290000  ...
1              516.219970               1.530000  ...
2              185.840000               0.830000  ...
3             1773.400020               2.930000  ...
4              798.500000               1.660000  ...
...                   ...                    ...  ...
4570           305.500000               1.170000  ...
4571             4.617033               0.059222  ...
4572           241.258000               0.827774  ...
4573          1276.460000               2.513290  ...
4574           136.750000               0.680000  ...

      Equilibrium Temperature  Spectral Type  Stellar Effective Temperature  \
0                         NaN         G8 III                         4742.0
1                         NaN            NaN                         4213.0
2                         NaN         K0 III                         4813.0
3                         NaN            NaN                         5338.0
4                         NaN            NaN                         5750.0
...                       ...            ...                            ...
4570                      NaN         K2 III                         4388.0
4571                      NaN           F8 V                            NaN
4572                      NaN           F8 V                            NaN
4573                      NaN           F8 V                            NaN
4574                      NaN            NaN                         4780.0

     Stellar Radius Stellar Mass  Stellar Metallicity  \
0             19.00         2.70                -0.35
1             29.79         2.78                -0.02
2             11.00         2.20                -0.24
3              0.93         0.90                 0.41
4              1.13         1.08                 0.06
...             ...          ...                  ...
4570          26.80         2.30                 0.14
4571           1.56         1.30                  NaN
4572           1.56         1.30                  NaN
4573           1.56         1.30                  NaN
4574          12.00         2.20               -0.205

      Stellar Metallicity Ratio  Stellar Surface Gravity  Distance  \
0                        [Fe/H]                     2.31   93.1846
1                        [Fe/H]                     1.93  125.3210
2                        [Fe/H]                     2.63   75.4392
3                        [Fe/H]                     4.45   17.9323
4                        [Fe/H]                     4.36   21.1397
...                         ...                      ...       ...
4570                     [Fe/H]                     1.96  112.5370
4571                        NaN                      NaN   13.4054
4572                        NaN                      NaN   13.4054
4573                        NaN                      NaN   13.4054
4574                     [Fe/H]                     2.66   56.1858

     Gaia Magnitude
0           4.44038
1           4.56216
2           4.91781
3           6.38300
4           6.06428
...             ...
4570        4.03996
4571        3.98687
4572        3.98687
4573        3.98687
4574        4.42501

[4575 rows x 23 columns]

1. retorne el nombre de las columnas y su tipo de datos

In [16]:
print(df.dtypes)

No.                                int64
Planet Name                       object
Planet Host                       object
Num Stars                          int64
Num Planets                        int64
Discovery Method                  object
Discovery Year                     int64
Discovery Facility                object
Orbital Period Days              float64
Orbit Semi-Major Axis            float64
Mass                             float64
Eccentricity                     float64
Insolation Flux                  float64
Equilibrium Temperature           object
Spectral Type                     object
Stellar Effective Temperature    float64
Stellar Radius                   float64
Stellar Mass                     float64
Stellar Metallicity               object
Stellar Metallicity Ratio         object
Stellar Surface Gravity          float64
Distance                         float64
Gaia Magnitude                   float64
dtype: object

2. Reciba el nombre de una columna str y una numerica

In [18]:
columna1 = input("Ingrese el nombre de la columna STR: ").strip()
columna2 = input("Ingrese el nombre de la columna NUMERICA: ").strip()
# Planet Name  
# Orbit Semi-Major Axis
print(columna1,'\n',columna2)

Planet Name
 Orbit Semi-Major Axis

3. Diga los valores únicos de esa columna

In [19]:
print(df[columna1].unique())
print(df[columna2].unique())

['11 Com b' '11 UMi b' '14 And b' ... 'ups And c' 'ups And d' 'xi Aql b']
[1.29     1.53     0.83     ... 0.059222 0.827774 2.51329 ]


4. que el usuario pueda ingresar uno de esos valors para filtrar los datos por ese valor

In [32]:
# # Solicitar la condición de filtrado al usuario
# condicion = input("Ingrese la condición de filtrado (usando sintaxis de consulta de Pandas, por ejemplo 'nombre_columna > 25', '== 2', '<= 2'): ")

# Filtrar el DataFrame según la condición proporcionada
condicion = "Discovery Year == 2007"
tabla_filtrada = df.query(condicion)

print("Tabla filtrada:")
print(tabla_filtrada)

SyntaxError: invalid syntax (<unknown>, line 1)

5. Debe guardar en A los datos numericos sin los valores de esa columna numerica

6. Debe guardar en Y los datos de esa columna numerica

7. solucionar sistema AX=Y

8. Exportar la solución en csv o excel